@import "abstracts/variables";

@import "abstracts/mixins";

@import "abstracts/placeholders";

@import "components/stepper";

@import "components/scroll";

@import "base/global";

main {
  //position: relative;
  @include flex(center);
}

.app {
  background-color: $second-color;
  width: min(100%, 500px);
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 0 2px $quad-color;
}

.information {
  & > div > p {
    padding: 10px 20px 10px 0;
    overflow-y: scroll;
    height: 200px;
  }

  button {
    @include button(100%, 30px, 20px 0);
  }
}

.questions {
  &_header {
    &_top {
      display: flex;
      justify-content: space-between;

      h5 {
        margin: 0;
        font-size: 16px;
      }
    }

    &_progress {
      position: relative;
      margin: 20px 0;
      background-color: #fff;
      height: 10px;
      border-radius: 5px;

      &::after {
        @include after-before("", null, $main-color, var(--width-progress), 10px, 5px);
        transition: all ease 0.5s;
      }
    }
  }

  &_item {
    height: 400px;
    overflow-y: scroll;

    &_title {
      padding-right: 20px;
    }

    &_answers {
      div {
        position: relative;
        margin: 20px 0;

        &:hover {
          label::before {
            background-color: #e1e1e1;
          }
        }

        input {
          visibility: hidden;

          &:checked {
            & ~ label::before {
              @include after-before("", null, #2196F3, 20px, 20px, 50%);
            }

            ~ label::after {
              @include after-before("", null, white, 10px, 10px, 50%);
              top: 5px;
              left: 5px;
            }
          }
        }

        label::before {
          @include after-before("", null, white, 20px, 20px, 50%);
          left: 0;
        }
      }
    }
  }

  &_footer {
    button {
      font-size: 14px;
      @include button(100%, 30px, 20px 0);
    }
  }
}

.result {
  &_header {
    button {
      @include button(100%, 30px, 20px 0);
    }

    & > div:first-child {
      display: flex;
      justify-content: space-between;
      text-align: center;
      color: white;

      & .result_header_correct {
        @extend %result-div;
        background-color: #4b6030;
        width: 40%;
      }

      & .result_header_incorrect {
        @extend %result-div;
        background-color: #561a1a;
        width: 40%;
      }
    }
  }
  &_review{
    h3{
      margin: 10px 0;
    }
    &_question{
      @extend %result-div;
      background-color: white;
      border-left: 10px solid #4b6030;
    }
  }
}