@mixin flex($position) {
  display: flex;
  flex-direction: column;
  align-items: $position;
}

@mixin after-before($content, $color, $bg-color, $width, $height, $radius) {
  content: $content;
  position: absolute;
  color: $color;
  background-color: $bg-color;
  width: $width;
  height: $height;
  border-radius: $radius;
}

@mixin button($width, $height, $margin) {
  cursor: pointer;
  margin: $margin;
  width: $width;
  height: $height;
  border: 0;
  box-shadow: 1px 2px 3px #000;
  border-radius: 5px;
  &:hover {
    background-color: #e7e5ff;
    transition: all ease-out 0.3s;
  }
  &:active {
    transform: translateY(5px);
  }
  &:disabled {
    background-color: #cccccc;
  }
}