$main-color: #495C83;
$second-color: #ADA2FF;
$third-color: #A8A4CE;
$quad-color: #C8B6E2;
$correct-color: #4b6030;
$incorrect-color: #561a1a;
$list-stepper: ["Informations", "Questions", "Result"];

:root {
  --width-stepper: 0%;
  --width-progress: 0%;
}