@charset "UTF-8";
:root {
  --width-stepper: 0%;
  --width-progress: 0%;
  --timer-progress: 444;
  --timer-color: #228c5e;
}

.stepper .step-3, .stepper .step-2, .stepper .step-1 {
  position: relative;
}

.result_review_question, .result_header > div:first-child .result_header_incorrect, .result_header > div:first-child .result_header_correct {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 2px 3px #4d4d4d;
}

.stepper {
  width: 300px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.stepper::before {
  content: "";
  position: absolute;
  background-color: #495C83;
  width: var(--width-stepper);
  height: 5px;
  border-radius: 10px;
  top: 7.5px;
  left: 5px;
  transition: all ease 0.5s;
}
.stepper::after {
  content: "";
  position: absolute;
  background-color: #C8B6E2;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  top: 7.5px;
  left: 5px;
  z-index: -10;
}
.stepper .step::before {
  content: "";
  position: absolute;
  background-color: #C8B6E2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.stepper .step-1::after {
  content: "Informations";
  position: absolute;
  color: #C8B6E2;
  top: 25px;
  left: -21px;
}
.stepper .step-2::after {
  content: "Questions";
  position: absolute;
  color: #C8B6E2;
  top: 25px;
  left: -17px;
}
.stepper .step-3::after {
  content: "Result";
  position: absolute;
  color: #C8B6E2;
  top: 25px;
  left: -13px;
}
.stepper > .active::before {
  transition: all ease 0.5s;
  background-color: #495C83;
}
.stepper > .active::after {
  transition: all ease 0.5s;
  color: #495C83;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}

* {
  font-family: "MV Boli", serif;
  box-sizing: border-box;
}

.normal {
  font-family: "Yu Gothic UI", sans-serif;
}

.pointer {
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.none {
  display: none;
}

.correct_question {
  border-left: 10px solid #4b6030;
}

.incorrect_question {
  border-left: 10px solid #561a1a;
}

.right_answer {
  border: 2px solid #32d009 !important;
}

.wrong_answer {
  border: 2px solid #e10e0e !important;
}

.user_answer::before {
  content: "User";
  position: absolute;
  top: 5px;
  left: -28px;
  font-size: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  background-color: #ADA2FF;
  width: min(100%, 500px);
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 0 2px #C8B6E2;
}

.information > div > p {
  padding: 10px 20px 10px 0;
  overflow-y: scroll;
  height: 200px;
}
.information button {
  cursor: pointer;
  margin: 20px 0;
  width: 100%;
  height: 30px;
  border: 0;
  box-shadow: 1px 2px 3px #000;
  border-radius: 5px;
}
.information button:hover {
  background-color: #e7e5ff;
  transition: all ease-out 0.3s;
}
.information button:active {
  transform: translateY(5px);
}
.information button:disabled {
  background-color: #cccccc;
}

.questions_header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions_header_top h5 {
  margin: 0;
  font-size: 16px;
  position: relative;
}
.questions_header_top #timer {
  position: absolute;
  right: 15px;
  top: 12px;
}
.questions_header_top svg {
  height: 50px;
  width: 50px;
  transform: rotate(270deg);
}
.questions_header_top svg #circle_timer {
  stroke: var(--timer-color);
  stroke-dashoffset: var(--timer-progress);
}
.questions_header_top svg circle {
  fill: transparent;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-dasharray: 444;
  transition: all ease 0.5s;
  stroke: #dad5d5;
  stroke-dashoffset: 0;
}
.questions_header_progress {
  position: relative;
  margin: 20px 0;
  background-color: #fff;
  height: 10px;
  border-radius: 5px;
}
.questions_header_progress::after {
  content: "";
  position: absolute;
  background-color: #495C83;
  width: var(--width-progress);
  height: 10px;
  border-radius: 5px;
  transition: all ease 0.5s;
}
.questions_item {
  height: 400px;
  overflow-y: scroll;
}
.questions_item_title {
  padding-right: 20px;
}
.questions_item_answers div {
  position: relative;
  margin: 20px 0;
}
.questions_item_answers div:hover label::before {
  background-color: #e1e1e1;
}
.questions_item_answers div input[type=radio] {
  visibility: hidden;
}
.questions_item_answers div input[type=radio]:checked ~ label::before {
  content: "";
  position: absolute;
  background-color: #2196F3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.questions_item_answers div input[type=radio]:checked ~ label::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}
.questions_item_answers div input[type=radio] ~ label::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
}
.questions_item_answers div input[type=checkbox] {
  visibility: hidden;
}
.questions_item_answers div input[type=checkbox]:checked ~ label::before {
  content: "";
  position: absolute;
  background-color: #2196F3;
  width: 18px;
  height: 18px;
  border-radius: 3px;
}
.questions_item_answers div input[type=checkbox]:checked ~ label::after {
  content: "✓";
  position: absolute;
  color: white;
  top: -3px;
  left: 3.5px;
}
.questions_item_answers div input[type=checkbox] ~ label::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  left: 0;
}
.questions_footer button {
  font-size: 14px;
  cursor: pointer;
  margin: 20px 0;
  width: 100%;
  height: 30px;
  border: 0;
  box-shadow: 1px 2px 3px #000;
  border-radius: 5px;
}
.questions_footer button:hover {
  background-color: #e7e5ff;
  transition: all ease-out 0.3s;
}
.questions_footer button:active {
  transform: translateY(5px);
}
.questions_footer button:disabled {
  background-color: #cccccc;
}

.result_header button {
  cursor: pointer;
  margin: 20px 0;
  width: 100%;
  height: 30px;
  border: 0;
  box-shadow: 1px 2px 3px #000;
  border-radius: 5px;
}
.result_header button:hover {
  background-color: #e7e5ff;
  transition: all ease-out 0.3s;
}
.result_header button:active {
  transform: translateY(5px);
}
.result_header button:disabled {
  background-color: #cccccc;
}
.result_header > div:first-child {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
}
.result_header > div:first-child .result_header_correct {
  background-color: #4b6030;
  width: 40%;
}
.result_header > div:first-child .result_header_incorrect {
  background-color: #561a1a;
  width: 40%;
}
.result_review h3 {
  margin: 10px 0;
}
.result_review_question {
  background-color: white;
  margin-bottom: 20px;
}
.result_review_question_options {
  margin-left: 20px;
}
.result_review_question_options p {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #C8B6E2;
}
.result_review_question_options div {
  position: relative;
  border: 0.5px solid #C4C4C4;
  border-radius: 5px;
  margin-top: 10px;
  padding: 2px 5px;
}

/*# sourceMappingURL=style.css.map */
