$main-color: #495C83;
$second-color: #ADA2FF;
$third-color: #A8A4CE;
$quad-color: #C8B6E2;
$grey-color: #C4C4C4;
$list-stepper: ["Informations", "Questions", "Result"];

:root {
  --width-stepper: 0%;
}